* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", system-ui;
    font-size: 1rem;
    font-style: normal;
    background-color: #F8FBFC;
    color: #5941a9;
}

label{
    padding: 20px 0;
}

/* First IDs */

#title{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

#main-game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%
}

#screen{
    font-size: 1.3rem;
    flex-grow: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
    height: 450px
}

#name-field, #item-field{
    font-family: "Press Start 2P",system-ui;
    font-size: 1.5rem;
    background-color: #bec4c5;
}

#backpack-open{
    display: flex;
    flex-direction: column;
}

#itemLoop{
    order: 3;
    padding: 10px 0;
}

#backpackMessage{
    order: 2;
    padding: 10px 0;
}

#itemInHand{
    order: 1;
    padding: 10px 0;
}

#stats-show{
    display: flex;
    justify-content: space-around;
}

#UI{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

/* Second Classes */

.tempMessage{
    margin-bottom: 10px;
}

.stat, .weapon{
    text-decoration: underline;
}

.notifyEnemy{
    padding-bottom: 5px;
}

.notify{
    padding: 10px 0;
}

.button{
    border-radius: 15%;
    color: #230903;
    background-color: #d8e8eb;
    margin-right: 5px;
    padding: 5px;    
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
}

.hidden{
    display: none;
}
